{
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/transform-flow-strip-types"
  ]
}
