sudo: required

language: node_js

node_js:
#- "6"
#- "5"
#- "4"
#- "iojs"
#- "0.12"
- "0.10"

matrix:
  include:
  - node_js: "0.10"
    env: COVER=1
    sudo: required
    services:
    - docker

cache:
  directories:
    - ~/.npm

services:
- docker

env:
  global:
  - DOCKER_VERSION=1.12.0-0~trusty
  - DOCKER_COMPOSE_VERSION=1.7.0
  - COMMIT=${TRAVIS_COMMIT::8}

before_install:
- docker version
- sudo rm -rf /usr/local/bin/docker-compose
- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname
  -s`-`uname -m` > docker-compose
- chmod +x docker-compose
- sudo mv docker-compose /usr/local/bin
- docker-compose version
- npm install babel-cli

script:
- npm run test-ci
- if [ "$COVER" = "1" ]; then npm run coveralls ; fi

