name: Crossdock

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  crossdock:
    env:
      NODE_LTS: "10"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: docker/login-action@v1
      id: dockerhub-login
      with:
        username: jaegertracing 
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      if: env.DOCKERHUB_TOKEN != null

    - name: Export DOCKERHUB_LOGIN variable
      run: |
        echo "DOCKERHUB_LOGIN=true" >> $GITHUB_ENV
      if: steps.dockerhub-login.outcome == 'success'

    - name: Export BRANCH variable for pull_request event
      run: |
        export BRANCH=${GITHUB_HEAD_REF}
        echo "Running on branch=$BRANCH"
        echo  "BRANCH=${BRANCH}" >> $GITHUB_ENV
      if: github.event_name == 'pull_request'

    - name: Export BRANCH variable for push event
      run: |
        echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
      if: github.event_name == 'push'

    - uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_LTS }} 

    - name: Install Dependencies
      run: |
        npm install babel-cli
        sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6'
        npm uninstall -D husky lint-staged
        make node-modules
        make build-node
        rm -rf ./node_modules package-lock.json

    - uses: actions/setup-node@v2
      with:
        node-version: "0.10"

    - name: Run Crossdock
      run: |
        make crossdock-fresh

    - name: Push Crossdock
      run: |
        bash scripts/build-crossdock.sh

    - name: Output Crossdock Logs
      run: make crossdock-logs
      if: ${{ failure() }}
